@model IEnumerable<Klinika2.Models.Nalaz>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled Nalaza</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijem.Ljekar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijem.Pacijent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijem.Ljekar.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijem.Pacijent.ImePrezime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrijemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrijemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrijemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
